{% extends "bootstrap/base.html" %}
{% block title %}:)){% endblock %}
{% block content %}
<h2>Datos de Binance</h2>
{% if data_cripto.error %}
<p>{{ data_cripto.error }}</p>
{% else %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Symbol</th>
        <th scope="col">Price</th>

    </tr>
    </thead>
    <tbody>
    {% for cripto in data_cripto %}
    <tr>
        <th scope="row">1</th>

        <td>{{ cripto.symbol }}</td>
        <td>
            {{ cripto.price }}
        </td>

    </tr>
     {% endfor %}
    </tbody>
</table>

{% endif %}
{% endblock %}




